/* Initial page view */
html, body{
    height: 100%;
    width: auto;
}

body{
    background-color: #ffffff;
    min-width: 782px;
    min-height: 630px;
    padding: 26px 26px 26px 26px;
}

header{
    width:100%;
    height: 0%;
}

nav{
    width: 100%;
    height: 30px;
}

section{
    width: 100%;
    height: auto;
}

footer{
    width: 100%;
    height: 20px;
}

.container-fluid{
    width: auto;
    height: 100%;
    background-image: url("/Assets/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 26px 26px 26px 26px;
    overflow: hidden;
}

#NavbarContainer{
    width: 100%;
    
}

#Menu{
    float: right;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

#ReturnMenu{
    float: right;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    visibility: hidden;
}

#Logo{
    padding-bottom: 15px;
}


#Mini-Icon-Container{
    
}
/* End of Initial page view */